{% extends 'base.html' %}
{% block content %}
    <!-- 검색창 -->
    <div class="p-2" style="background-color:rgb(211, 211, 211)">

        <form action="">
            <!-- 사이트선택 -->

            <div>
                <span class="fw-bold me-1">사이트선택</span>
                <div class="form-check form-check-inline">

                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                    <label class="form-check-label" for="inlineCheckbox1">내셔널지오그래픽</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">코닥</label>
                </div>

                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                    <label class="form-check-label" for="inlineCheckbox2">네이버스토어팜</label>
                </div>
            </div>
            <!-- 상태창 -->
            <span class="fw-bold me-5 ">상태</span>
            <div class="form-check form-check-inline">

                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">전체</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">재고</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">품절</label>
            </div>

            <!-- 검색창 -->
            <div class="justify-content-center">
                <div class="input-group mb-3 mt-2 ">
                    <span class="me-3 fw-bold">상품검색</span>
                    <!-- 항목검색 -->
                    <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">전체</button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">제품이름</a></li>
                        <li><a class="dropdown-item" href="#">상품번호</a></li>
                        <li><a class="dropdown-item" href="#">식별번호</a></li>
                    </ul>
                    <!-- 검색바 -->
                    <input type="text" class="form-control" placeholder="상품검색" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">검색</button>
                </div>
            </div>
        </form>
    </div>
    <!-- 로그 -->
    <div class="border m-3" style="height:150px; overflow:scroll; height:130px;">
        <p>(5/100) 상품업데이트중입니다..</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 중입니다..</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 완료</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 실패하였습니다...</p>
    </div>
    <!-- container -->
    <div class="p-3">
        <!-- 전체선택창 -->
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
            <span>전체선택</span>
            <input class="btn btn-primary btn-sm ms-2" type="button" value="선택된 상품 업데이트">
            <input class="btn btn-primary btn-sm ms-2" type="button" value="검색된 상품 업데이트">
        </div>
        <!-- 상품 -->
        <div>
            <!-- 개별상품 -->
            <table class="pdTable" style="width:100%">
                <tbody>
                    <!-- 번호 -->
                    <td style="background-color:rgb(224, 224, 224)">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                        <span class="badge bg-secondary me-1">No.</span>
                        <span>000001</span>
                    </td>
                    <!-- 날짜,식별,상품 -->
                    <td style="background-color:rgb(224, 224, 224)">

                        <span class="badge bg-secondary ms-3">사이트 </span><span>내셔널지오그래픽</span>
                        <span class="badge bg-secondary ms-3">브랜드 </span><span>내셔널지오그래픽</span>
                        <span class="badge bg-secondary ms-3">식별번호</span><span>394329EFD</span>
                        <span class="badge bg-secondary ms-3">상품번호</span><span>AB395D8E</span>
                        <span class="badge bg-secondary ms-3">등록날짜</span><span>2021-09-16</span>
                        <span class="badge bg-secondary ms-3">업데이트날짜</span><span>2021-09-16</span>
                    </td>
                </tbody>
                <tbody>
                    <table style="width:100%">
                        <tr>
                            <td>
                                <span class="ms-4">내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥
                                    다운 점퍼 CARBON BLACK</span>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tbody>

            </table>


        </div>

    </div>


    <!-- 페이지넘김 -->
    <div style="text-align:center">
        <div class="btn-group me-2 " role="group" aria-label="First group">
            <button type="button" class="btn btn-outline-secondary">
            </button> <button type="button" class="btn btn-outline-secondary">1
            </button>
            <button type="button" class="btn btn-outline-secondary">2</button>
            <button type="button" class="btn btn-outline-secondary">3</button>
            <button type="button" class="btn btn-outline-secondary">4</button>
            <button type="button" class="btn btn-outline-secondary">...</button>
            <button type="button" class="btn btn-outline-secondary">></button>
        </div>
    </div>
{% endblock %}