{% extends 'base.html' %}
{% block content %}
<script>
    function selectAll(selectAll) {
        const checkboxes = document.getElementsByName('pd_check[]');

        checkboxes.forEach((checkbox) => {
            checkbox.checked = selectAll.checked;
        })
    }
</script>
    <!-- 검색창 -->
    <div class="p-2" style="background-color:rgb(211, 211, 211)">
        <form action="{% url 'update:search' %}" method="GET" >
            {% csrf_token %}
            <!-- {{form.as_p}} -->
    
            <!-- 사이트선택 -->
    
            <div>
                <span class="fw-bold me-1">사이트선택</span>
                <div class="form-check form-check-inline">
    
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="사이트" value="내셔널지오그래픽" checked="checked">
                    <label class="form-check-label" for="inlineCheckbox1">내셔널지오그래픽</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="사이트" value="코닥" checked="checked" >
                    <label class="form-check-label" for="inlineCheckbox2">코닥</label>
                </div>
    
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="사이트" value="네이버스토어팜" checked="checked" >
                    <label class="form-check-label" for="inlineCheckbox2">네이버스토어팜</label>
                </div>
            </div>
            <!-- 상태창 -->
            <span class="fw-bold me-5 ">상태</span>
            <div class="form-check form-check-inline">
    
                <input class="form-check-input" type="radio" id="inlineCheckbox1" name="재고" value="전체" checked="checked" >
                <label class="form-check-label" for="inlineCheckbox1">전체</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" name="재고" value="재고">
                <label class="form-check-label" for="inlineCheckbox2">재고</label>
            </div>
    
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="inlineCheckbox2" name="재고" value="품절">
                <label class="form-check-label" for="inlineCheckbox2">품절</label>
            </div>
    
            <!-- 검색창 -->
            <div class="justify-content-center">
                <div class="input-group mb-3 mt-2 ">
                    <span class="me-3 fw-bold">상품검색</span>
    
                    <select class="form-select form-control" data-bs-toggle="dropdown"  aria-label="Default select example" aria-expanded="false" style="width:20px" name="검색조건">
                        <option selected>전체검색</option>
                        <option value="식별번호">식별번호</option>
                        <option value="상품번호">상품번호</option>
                        <option value="제품이름">제품이름</option>
                      </select>
    
                    <!-- 검색바 -->
                    <input type="text" class="form-control" placeholder="상품검색" aria-label="Recipient's username" aria-describedby="button-addon2" style="width:75%" name="search">
                    <button class="btn btn-outline-secondary" type="submit" id="button-addon2" >검색</button>
                </div>
            </div>
        </form>
    </div>

    <form id="searchForm" method="get" action="{% url 'update:search' %}">
        <input type="hidden" id="search" name="search" value="{{ save_page.search|default_if_none:'' }}">
        <input type="hidden" id="site1" name="사이트" value= "{{save_page.site_choice_list.사이트1}}">
        <input type="hidden" id="site2" name="사이트" value= "{{save_page.site_choice_list.사이트2}}">
        <input type="hidden" id="site3" name="사이트" value= "{{save_page.site_choice_list.사이트3}}">
        <input type="hidden" id="stock" name="재고" value= "{{save_page.재고}}">
        <input type="hidden" id="page" name="page" value="{{ save_page.page }}">
        <input type="hidden" id="search_condition" name="검색조건" value="{{ save_page.검색조건 }}">
    </form>

    <!-- 검색창 종료 -->
    <!-- 로그 -->
    <div class="border m-3" style="height:150px; overflow:scroll; height:130px;">
        <p>(5/100) 상품업데이트중입니다..</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 중입니다..</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 완료</p>
        <p>(5/100)내셔널지오그래픽 N214UDW920 헤론 라이트 덕 U넥 다운 점퍼 CARBON BLACK 업데이트 실패하였습니다...</p>
    </div>
    <!-- container -->
    <div class="p-3">
        <!-- 전체선택창 -->
        <form action="{% url 'update:update' %}" method=''>
        <div class="mb-3">
            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" onclick='selectAll(this)' > 
            <span>전체선택</span>
            <input class="btn btn-primary btn-sm ms-2" type="submit" name="선택" value="선택된 상품 업데이트">
            <input class="btn btn-primary btn-sm ms-2" type="submit" name="검색" value="검색된 상품 업데이트">
            <input class="btn btn-primary btn-sm ms-2" type="submit" name="이베이" value="이베이 업데이트">
        </div>
        <!-- 상품 -->
        <div>
            <!-- 개별상품 -->
            {% for product in product_list %}
            <table class="pdTable" style="width:100%">
                <tbody>
                    <!-- 번호 -->
                    <td style="background-color:rgb(224, 224, 224)">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="pd_check[]" value="{{product.id}}" >
                        <span class="badge bg-secondary me-1">No.</span>
                        <span>{{ product.id }}</span>
                    </td>
                    <!-- 날짜,식별,상품 -->
                    <td style="background-color:rgb(224, 224, 224)">

                        <span class="badge bg-secondary ms-3">사이트 </span><span>{{product.site}}</span>
                        <span class="badge bg-secondary ms-3">브랜드 </span><span>{{product.brand}}</span>
                        <span class="badge bg-secondary ms-3">식별번호</span><span>{{product.identy_number}}</span>
                        <span class="badge bg-secondary ms-3">상품번호</span><span>{{product.product_number}}</span>
                        <span class="badge bg-secondary ms-3">등록날짜</span><span>{{product.regist_date}}</span>
                        <span class="badge bg-secondary ms-3">업데이트날짜</span><span>{{product.update_date}}</span>
                        {% if product.stock == True %}
                        <span class="badge bg-secondary ms-3">재고</span><span style="color: blue" >입고</span>
                        {% else %}
                        <span class="badge bg-secondary ms-3">재고</span><span style="color: red">품절</span>
                        {% endif %}

                    </td>
                </tbody>
                <tbody>
                    <table style="width:100%">
                        <tr>
                            <td style= "padding-top: 10px; padding-bottom: 10px;">
                                <span class="ms-4">{{product.product_name}}</span>
                            </td>
                        </tr>
                    </table>
                    </td>
                </tbody>

            </table>
            {% endfor %}
        </form>

        </div>

    </div>


<!-- 페이징 처리 시작 -->
<ul class="pagination justify-content-center">
    <!-- 이전페이지 -->
    {% if product_list.has_previous %}
    <li class="page-item">
        <a class="page-link" data-page="{{ product_list.previous_page_number }}" href="#">이전</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
    </li>
    {% endif %}
    <!-- 페이지리스트 -->
    {% for page_number in product_list.paginator.page_range %}
    {% if product_list.number|add:-5 <= page_number <= product_list.number|add:5 %}
        {% if page_number == product_list.number %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link" data-page="{{ page_number }}" href="#">{{ page_number }}</a>
        </li>
        {% endif %}
    {% endif %}
    {% endfor %}
    <!-- 다음페이지 -->
    {% if product_list.has_next %}
    <li class="page-item">
        <a class="page-link" data-page="{{ product_list.next_page_number }}" href="#">다음</a>
    </li>
    {% else %}
    <li class="page-item disabled">
        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
    </li>
    {% endif %}
</ul>
<!-- 페이징 처리 끝 -->

{% block javascripts %}
<script type='text/javascript'>
$(document).ready(function(){
    $(".page-link").on('click', function() {
        $("#page").val($(this).data("page"));
        $("#searchForm").submit();
    });

});
</script>
{% endblock %}

{% endblock %}