{% extends 'base.html' %}
{% block content %}
<!-- container -->
<!-- 검색창 -->
<div class="p-2" style="background-color:rgb(211, 211, 211)">
    <form action="{% url 'manage:search' %}" method="GET" >
        {% csrf_token %}
        <!-- {{form.as_p}} -->

        <!-- 사이트선택 -->

        <div>
            <span class="fw-bold me-1">사이트선택</span>
            <div class="form-check form-check-inline">

                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" name="사이트" value="내셔널지오그래픽">
                <label class="form-check-label" for="inlineCheckbox1">내셔널지오그래픽</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="사이트" value="코닥">
                <label class="form-check-label" for="inlineCheckbox2">코닥</label>
            </div>

            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" name="사이트" value="네이버스토어팜">
                <label class="form-check-label" for="inlineCheckbox2">네이버스토어팜</label>
            </div>
        </div>
        <!-- 상태창 -->
        <span class="fw-bold me-5 ">상태</span>
        <div class="form-check form-check-inline">

            <input class="form-check-input" type="radio" id="inlineCheckbox1" name="재고" value="전체" checked="checked" >
            <label class="form-check-label" for="inlineCheckbox1">전체</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" name="재고" value="재고">
            <label class="form-check-label" for="inlineCheckbox2">재고</label>
        </div>

        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" id="inlineCheckbox2" name="재고" value="품절">
            <label class="form-check-label" for="inlineCheckbox2">품절</label>
        </div>

        <!-- 검색창 -->
        <div class="justify-content-center">
            <div class="input-group mb-3 mt-2 ">
                <span class="me-3 fw-bold">상품검색</span>

                <select class="form-select form-control" data-bs-toggle="dropdown"  aria-label="Default select example" aria-expanded="false" style="width:20px" name="검색조건">
                    <option selected>전체검색</option>
                    <option value="식별번호">식별번호</option>
                    <option value="상품번호">상품번호</option>
                    <option value="제품이름">제품이름</option>
                  </select>

                <!-- 검색바 -->
                <input type="text" class="form-control" placeholder="상품검색" aria-label="Recipient's username" aria-describedby="button-addon2" style="width:75%" name="search">
                <button class="btn btn-outline-secondary" type="submit" id="button-addon2" >검색</button>
            </div>
        </div>
    </form>
</div>
<!-- 검색창 종료 -->
<!-- container -->
<div class="p-3">
    <!-- 전체선택창 -->
    <div class="mb-2">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <span>전체선택</span>
        <input class="btn btn-primary btn-sm ms-2" type="button" value="선택된 상품 업데이트">
    </div>
    <!-- 상품 -->
    <div>
        <!-- 개별상품 -->
        <ul style='list-style:none; padding:0px;'>
            <!-- 상품리스트 시작 -->
            {% for product in product_list %}
            <li>
                <table class="pdTable" style="width:100%">
                    <tbody>
                        <!-- 번호 -->
                        <td style="background-color:rgb(224, 224, 224)">
                            <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                            <span class="badge bg-secondary me-1">No.</span>
                            <span>{{ product.id }}</span>
                        </td>
                        <!-- 날짜,식별,상품 -->
                        <td style="background-color:rgb(224, 224, 224)">
                            <span class="badge bg-secondary me-1">등록날짜</span><span>{{product.regist_date}}</span>
                            <span class="badge bg-secondary me-1">업데이트날짜</span><span>{{product.update_date}}</span>
                            <span class="badge bg-secondary me-1">식별번호</span><span>{{product.identy_number}}</span>
                            <span class="badge bg-secondary me-1">상품번호</span><span>{{product.product_number}}</span>
                        </td>
                    </tbody>
                    <tbody>
                        <!-- 상품이미지 -->
                        <td class="pdImg"><img src="http://localhost:8080/img/{{product.product_number}}/01.jpg" alt="" style="width:200px;"/></td>
                        <td>
                            <table style="width:100%">
                                <tr>
                                    <td>
                                        <span class="badge bg-secondary me-1">사이트 </span><span>{{product.site}}</span>
                                        <span class="badge bg-secondary me-1">브랜드 </span><span>{{product.brand}}</span>
                                        <a href='{{product.product_url}}' target="_blank" onclick="window.open('{{product.product_url}}','popup','width=600,height=600'); " class="btn btn-primary btn-sm ms-2">url</a>
                                        <input class="btn btn-primary btn-sm ms-2" type="button" value="개별업데이트">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge bg-secondary me-1">제품이름</span><span>{{product.product_name}}</span>
                                        {% if product.stock == True %}
                                        <span class="badge bg-secondary ms-1 me-1">재고</span><span>입고</span>
                                        {% else %}
                                        <span class="badge bg-secondary ms-1 me-1">재고</span><span style="color: red">품절</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge bg-secondary me-1">가격</span><span>{{product.price}}</span>
                                        <span class="badge bg-secondary ms-1 me-1 ">배송비</span><span>{{product.shipping_price}}</span>
                                        <!-- 합산가격은 나중에 -->
                                        <span class="badge bg-secondary ms-1 me-1">합</span> <span>합산가격</span>
                                        <!-- 합산가격은 나중에 끝 -->
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="badge bg-secondary me-1">무게</span> <span>{{product.weight}}</span>
                                        <span class="badge bg-secondary me-1">부피무게</span>
                                        <span>{{product.volume}}</span><input class="btn btn-primary btn-sm ms-2" type="button" value="수정">
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="{{product.id}}">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{product.id}}" aria-expanded="false" aria-controls="flush-collapse{{product.id}}">
                                                    옵션
                                                </button>
                                            </h2>
                                            <div id="flush-collapse{{product.id}}" class="accordion-collapse collapse" aria-labelledby="{{product.id}}">
                                                <div class="accordion-body">
                                                    <ul class="list-group">
                                                        {%for list in product.option %}
                                                            <li class="list-group-item"> {{list}}<input
                                                            class="btn btn-primary btn-sm" type="button" value="수정"
                                                            style="float:right"><input
                                                            class="btn btn-primary btn-sm me-2" type="button"
                                                            value="복구" style="float:right"></li>
                                                        {% endfor %}
                                                    </ul>
                                                    
    </div>
</div>
</td>
</tr>
</table>

</td>
</tbody>

</table>
</li>
{% endfor %}
<!-- 상품리스트끝 -->
</ul>
</div>

</div>


<!-- 페이징 처리 시작 -->
<div style="text-align:center">
    <div class="btn-group me-2 " role="group" aria-label="First group">
        <!-- 이전페이지 -->
        {% if product_list.has_previous %}
        <li class="page-item" style="list-style:none;">
            <a class="page-link" href="?사이트={{request.GET.사이트}}&재고={{request.GET.재고}}&검색조건={{request.GET.검색조건}}&search={{request.GET.search}}&page={{ product_list.previous_page_number }}"><</a>
        </li>
        {% else %}
        <li class="page-item disabled" style="list-style:none;">
            <a class="page-link" tabindex="-1" aria-disabled="True" href="#"><</a>
        </li>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% for page_number in product_list.paginator.page_range %}
        {% if page_number >= product_list.number|add:-5 and page_number <= product_list.number|add:5 %}
            {% if page_number == product_list.number %}
            <li class="page-item active" aria-current="page" style="list-style:none;" >
                <a class="page-link" href="?사이트={{request.GET.사이트}}&재고={{request.GET.재고}}&검색조건={{request.GET.검색조건}}&search={{request.GET.search}}&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% else %}
            <li class="page-item" style="list-style:none;" >
            <a class="page-link" href="?사이트={{request.GET.사이트}}&재고={{request.GET.재고}}&검색조건={{request.GET.검색조건}}&search={{request.GET.search}}&page={{ page_number }}">{{ page_number }}</a>
            </li>
            {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if product_list.has_next %}
        <li class="page-item" style="list-style:none;" >
            <a class="page-link" href="?사이트={{request.GET.사이트}}&재고={{request.GET.재고}}&검색조건={{request.GET.검색조건}}&search={{request.GET.search}}&page={{ product_list.next_page_number }}">></a>
        </li>
        {% else %}
        <li class="page-item disabled"style="list-style:none;" >
            <a class="page-link" tabindex="-1" aria-disabled="True" href="#">></a>
        </li>
        {% endif %}
    </div>
<!-- 페이징 처리 끝 -->
</div> 
{% endblock %}